{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student Tables</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Registration number</th>
                <th>Roll</th>
                <th>Class</th>
                <th>Enrollment Date</th>
                <th>Actions</th>
      
              </tr>
            </thead>
            <tbody>
              {%for student in student%}
              <tr role="row" >
                
                <td>{{forloop.counter}}</td>
                <td>{{student.student.personalInfo.name}}</td>
                <td>{{student.student.registration_no}}</td>
                <td>{{student.roll}}</td>
                <td>{{student.class_name}}</td>
                <td>{{student.date}}</td>
                <td>
                  <button class="btn btn-info">
                    <a href="{%url 'student:student-profile' student.student.registration_no%}">
                    </a> Profile
                  </button>
                  <button class="btn btn-success">
                    <a href="{%url 'student:student-edit' student.student.registration_no %}">
                      <i class="fa fa-edit"></i>
                    </a> Edit
                  </button>
                <button class="btn btn-danger">
                  <a href="{%url 'student:student-delete' student.student.registration_no %}" >
                    <i class="fa fa-trash-o"></i>
                    </a>
                    Delete
                  </button>
                </td>
              </tr>
              
                {%endfor%}
    
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-5">
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="pagination">
          <ul class="pagination">
          <li class="paginate_button page-item previous disabled" ><a href="#" class="page-link">Previous</a></li>
          <li class="paginate_button page-item" ><a href="#" class="page-link">1</a></li>
          <li class="paginate_button page-item" ><a href="#" class="page-link">2</a></li>
          <li class="paginate_button page-item" ><a href="#" class="page-link">3</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
{%endblock%}