{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<h2>Students Enroll from here:</h2>
<form action="" method="GET">
  {{ forms }}
    <input type="submit" value="Go">
</form>
{%if student%}
<div class="card">
<div class="card-header">
    <i class="fa fa-edit"></i> Student Tables
</div>
<div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr role="row">
                <th>ID</th>
                <th>Name</th>
                <th>Registration number</th>
                <th>Class</th>
                <th>Status</th>
                <th>Date</th>
      
              </tr>
            </thead>
            <tbody>
              {%for student in student%}
              <tr role="row" >
                
                <td>{{forloop.counter}}</td>
                <td>{{student.personalInfo.name}}</td>
                <td>{{student.registration_no}}</td>
                <td>{{student.class_info}}</td>
                <td>{{student.status}}</td>
                <td>{{student.date}}</td>
                <td>
                  <button class="btn btn-success">
                    <a href="{%url 'student:student-profile' student.registration_no %}">
                    </a> Profile
                  </button>
                 <button class="btn btn-success">
                  <a href="{%url 'student:enrolled' student.registration_no %}" >Enroll
                    </a>
                    
                  </button>
                </td>
              </tr>
              
                {%endfor%}
    
            </tbody>
          </table>
        </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    
    {%endif%}No student found

  </div>
  <!-- /.row -->
{%endblock%}