{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student Tables</h3>
          {%if students%}
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><div class="col-sm-12 col-md-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <form action="" method="GET">
                  {% csrf_token %}
                <label>Search:
                    <!-- <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"> -->
                    {{ search.registration_no }}
                </label>
              </form>
          </div>
      </div>
  </div>
        <!-- /.card-header -->
        
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Registration number</th>
                <th>Class</th>
                <th>Date</th>
      
              </tr>
            </thead>
            <tbody>
              {%for student in students%}
              <tr role="row" >
                
                <td>{{forloop.counter}}</td>
                <td>{{student.personalInfo.name}}</td>
                <td>{{student.registration_no}}</td>
                <td>{{student.class_info}}</td>
                <td>{{student.date}}</td>
                <td>
                 
                  <a class="btn btn-info" href="{% url 'student:student-profile' student.registration_no %}">
                    <i class="fa fa-search-plus"></i>
                </a>
                 
                  
                    <a class="btn btn-success" href="{%url 'student:student-edit' student.registration_no %}">
                      <i class="fa fa-edit"></i> </a>
                    
                 
                
                  <a class="btn btn-danger" href="{%url 'student:student-delete' student.registration_no %}" >
                    <i class="fa fa-trash"></i>
                    </a>
                </td>
              </tr>
              
                {%endfor%}
    
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    {%else%}
    <div class="card-body">
      <h2>No Student Found</h2>
    </div>
    {%endif%}
  </div>
  <!-- /.row -->
{%endblock%}