{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    
    <div class="card-header">
      <div class="row">
        {%if student.personalInfo.photo %}
        <img style="height:200px; width:200px; border-radius:50%; margin:auto ;background-size:cover"  src="{{ student.personalInfo.get_photo_url }}" alt="Photo">
      {% else %}
      <img style="height:200px; width:200px; border-radius:50%; margin:auto ;background-size:cover"  src="{%static 'images/default.jpg'%}" alt="Photo">
        {% endif %}
      </div>
    </div>
    
    <div class="card-body">

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Personal Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Name                        :  {{student.personalInfo.name}}</pre>
            <pre>Date of birth               :  {{student.personalInfo.date_of_birth}} </pre>
            <pre>Gender                      :  {{student.personalInfo.gender}}</pre>
            <pre>Phone number                :  {{student.personalInfo.phone_no}}</pre>
            <pre>Email                       :  {{student.personalInfo.email}}</pre>
            <pre>Religion                    :  {{student.personalInfo.religion}}</pre>
            <pre>Birth Certificate Number    :  {{student.personalInfo.birth_certificate_no}}</pre>
          </div>
        </div>
      </div>

      

      

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Academic Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Class                       :  {{student.class_info}}</pre>
            <pre>Registration number         :  {{student.registration_no}}</pre>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}