{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<div class="card">
        
    
    <div class="card-body">
        <div class="row">
            <h2 class="mx-auto">Academic Information</h2>
        </div>
        <hr>
        <div style="font-size: 24px; margin-left: 30px;">
    <pre>Class:                                  {{student.class_info|title}}</pre>
    <pre>Registration Number:                    {{student.registration_no}} </pre>
    <pre>Status:                                 {{student.status}}</pre>
    <pre>Date Registered:                        {{student.date}}</pre>
        
        </div>
        <div class="card">
            <div class="row">
                <div class="card-body">
        <form action="" method="POST">

            {% csrf_token %}
            {{ forms.as_p }}
            
            <input type="submit" value="Enroll" class="btn btn-primary">
        </form>
        </div>
    </div>
    </div>

    </div>
</div>

{%endblock%}