{%load static%}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{%url 'home'%}" class="brand-link">
      <img src="{%static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Mier Pamoja Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{%static "dist/img/avatar3.png"  %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Ivy Mboya</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills  nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-closed">
            <a href="{%url 'home'%}" class="nav-link ">
              <i class="nav-icon fa fa-home  "></i>
              <p>Home
              </p>
            </a>
          </li>
          <!--Student Section START-->
          <li class="nav-item has-treeview menu-closed">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-graduation-cap "></i>
              <p>
               Students
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'student:student-registration' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Student Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'student:student-list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Student List</p>
                </a>
              </li>
            </ul>
          </li>
          <!--Student section END-->


          <!-- Teacher section START-->
          <li class="nav-item has-treeview menu-closed">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-user "></i>
              <p>
                Teachers
                <i class="right fas fa-angle-left"></i>
              </p>
            </a> <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'teacher:teacher-registration'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Teacher Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'teacher:teacher-list'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Teacher List</p>
                </a>
              </li>
            </ul>
          </li>
          <!--Teacher Section END-->

          <!--Class Section START-->
          <li class="nav-item has-treeview menu-closed">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-building "></i>
              <p>
                Class
                <i class="right fas fa-angle-left"></i>
              </p>
            </a><ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Class Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Class List</p>
                </a>
              </li>
            </ul>
          </li>
            <!--Class Section END-->
          <li class="nav-item has-treeview menu-closed">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-user "></i>
              <p>
                Parents
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'parent:parent-registration' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Parent Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'parent:parent-list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Parent List</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  {%block sidebar%}
  
  {%endblock%}