{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    
    <div class="card-header">
      <div class="row">
        {%if teacher.photo %}
        <img style="height:200px; width:200px; border-radius:50%; margin:auto ;background-size:cover"  src="{{ teacher.get_photo_url }}" alt="Photo">
      {% else %}
      <img style="height:200px; width:200px; border-radius:50%; margin:auto ;background-size:cover"  src="{%static 'images/default.jpg'%}" alt="Photo">
        {% endif %}
      </div>
    </div>
    
    <div class="card-body">

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Personal Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Name                    : {{ teacher.name }}</pre>
            <pre>Date of Birth           : {{ teacher.date_of_birth }}</pre>
            <pre>Religion                : {{ teacher.religion }}</pre>
            <pre>Gender                  : {{ teacher.gender }}</pre>
            <pre>Phone No                : {{ teacher.phone_no }}</pre>
            <pre>Email                   : {{ teacher.email }}</pre>
            <pre>Father`s Name           : {{ teacher.father_name }}</pre>
            <pre>Mother`s Name           : {{ teacher.mother_name }}</pre>
            <pre>Marital Status          : {{ teacher.marital_status }}</pre>
            <pre>Training                : {{ teacher.training }}</pre>
            <pre>Job                     : {{ teacher.job }}</pre>
            <pre>Experience              : {{ teacher.experience }}</pre>
          </div>
        </div>
      </div>

      

      

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Training Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            
            <pre>Year                    : {{ teacher.training.year }}</pre>
            <pre>Duration                : {{ teacher.training.duration }}</pre>
            
          </div>
        </div>
      </div>

      <div class="emergency_contact_information">
        <div class="row">
        <h2 class="mx-auto">Job Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Category                : {{ teacher.job.category }}</pre>
            <pre>Joining Date            : {{ teacher.job.joning_date }}</pre>
            <pre>Institute Name          : {{ teacher.job.institute_name }}</pre>
            <pre>Job Designation         : {{ teacher.job.job_designation }}</pre>
            <pre>Department              : {{ teacher.job.department }}</pre>
            
        
          </div>
        </div>
      </div>

      <div class="previous_academic_information">
        <div class="row">
          <h2 class="mx-auto">Experience Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Institute Name          : {{ teacher.experience.institute_name }}</pre>
            <pre>Designation             : {{ teacher.experience.designation }}</pre>
            <pre>Trainer                 : {{ teacher.experience.trainer }}</pre>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}