{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<h2>Teacher Registration Form</h2>
<!-- Main content -->
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
               <h3 class="card-title">Personal Information</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" method="POST" action="{%url 'teacher:teacher-registration'%}"enctype="multipart/form-data">
              <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                
              </div>
              <div class="card card-primary">
                
              <div class="card-header">
                <h3 class="card-title">Training Information</h3>
              </div>
              <div class="card-body">
                {% csrf_token %}
                {{ training_form.as_p }}
                
              </div>
              <div class="card-header">
                <h3 class="card-title">Job Information</h3>
              </div>
              <div class="card-body">
                {% csrf_token %}
                {{ job_form.as_p }}
                
              </div>
              <div class="card-header">
                <h3 class="card-title">Experience Information</h3>
              </div>
              <div class="card-body">
                {% csrf_token %}
                {{ experience_form.as_p }}
                
              </div>
              
                
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
  

{%endblock%}