{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Teacher Tables</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        {%if teacher%}
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Date</th>
      
              </tr>
            </thead>
            <tbody>
              {%for teacher in teacher%}
              <tr role="row" >
                
                <td>{{forloop.counter}}</td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.gender}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.date}}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'teacher:teacher-profile' teacher.id %}">
                        <i class="fa fa-search-plus"></i>
                    </a>

                  
                    <a class="btn btn-success" href="{%url 'teacher:teacher-edit' teacher.id %}">
                      <i class="fa fa-edit"></i>
                    </a> 

                 
                  <a class="btn btn-danger" href="{%url  'teacher:teacher-delete' teacher.id %}" >
                    <i class="fa fa-trash"></i>
                    </a>
                </td>
              </tr>
              
                {%endfor%}
    
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    {%else%}
    <div class="card-body">
      <h2>No Teacher Found</h2>
    </div>
    {%endif%}
  </div>
  <!-- /.row -->
{%endblock%}